{% extends 'layout.html' %}

{% block title %}服务器管理{% endblock %}

{% block content %}
    <div class="container">
        <h1>服务器列表</h1>
        <div class="row">
            <div class="col-md-8">
                <div>
                    <a style="margin: 10px 0" href="{% url 'server_add' %}" class="btn btn-primary">添加</a>
                </div>
            </div>
            <!-- 搜索框 -->
            <div class="col-md-4">
                <div style="float: right;width: 300px;">
                    <form method="get">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="主机名"
                                   value="{{ search_data }}">
                            <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                      </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>主机名</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>

            {% for row in queryset %}
                <tr>
                    <th>{{ row.id }}</th>
                    <th>{{ row.hostname }}</th>
                    <th>
                        <a href="{% url 'server_edit' nid=row.id %}">编辑</a>
                        <a onclick="removeRow(this, {{ row.id }});">删除</a>
                    </th>
                </tr>
            {% endfor %}

            {% block js %}
                <script>
                    function removeRow(ths, nid) {
                        let result = confirm('确认删除吗?');
                        console.log(result);
                        if (result) {
                            $.ajax({
                                url: '/server/delete/' + nid + '/',
                                type: 'GET',
                                data: 'nid',
                                dataType: 'JSON',
                                success: function (res) {
                                    if (res.status) {
                                        $(ths).parent().parent().remove();
                                    }
                                }
                            })

                        }
                    }
                </script>
            {% endblock %}
            </tbody>
        </table>

        <!-- 分页条 -->
        {% for obj in queryset %}
            {{ obj.xx }}
        {% endfor %}

        <ul class="pagination">
            {{ page_string }}
        </ul>

    </div>

{% endblock %}
