{% extends 'layout.html' %}
{% load static %}

{% block title %}服务器管理{% endblock %}

{% block content %}
    <div class="container">
        <h1>服务器列表</h1>
        <div class="panel panel-default">
            <div class="panel-heading">Execl 批量上传</div>
            <div class="panel-body">
                <form method="post" enctype="multipart/form-data" action="/server/multi/">

                    <div class="container col-xs-6 col-md-6">
                        {% csrf_token %}

                        <div class="row" style="margin: 100px auto;">
                            <div class="col-md-6"><input type="file" name="exc" style="margin-bottom: 10px"
                                                         class="input-lg"></div>
                            <div class="col-md-6"><input type="submit" value="上传" class="btn btn-info btn-lg"></div>
                        </div>


                    </div>
                    <div class="container col-xs-6 col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="color: #0f5132;"><strong>Execl 导入示例:</strong></div>
                            <div class="panel-body">
                                <img data-src="holder.js/100%x180" alt="100%x180"
                                     style="height: 180px; width: auto; display: block;"
                                     src="{% static '/img/img.png' %}"
                                     data-holder-rendered="true">
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div>
                    <a style="margin: 10px 0" href="{% url 'server_add' %}" class="btn btn-primary">添加</a>
                </div>
            </div>
            <!-- 搜索框 -->
            <div class="col-md-4">
                <div style="float: right;width: 300px;">
                    <form method="get">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="主机名"
                                   value="{{ search_data }}">
                            <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                      </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>主机名</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>

            {% for row in queryset %}
                <tr>
                    <th>{{ row.id }}</th>
                    <th>{{ row.hostname }}</th>
                    <th>
                        <a href="{% url 'server_edit' nid=row.id %}">编辑</a>
                        <a onclick="removeRow(this, {{ row.id }});">删除</a>
                    </th>
                </tr>
            {% endfor %}

            {% block js %}
                <script>
                    function removeRow(ths, nid) {
                        let result = confirm('确认删除吗?');
                        console.log(result);
                        if (result) {
                            $.ajax({
                                url: '/server/delete/' + nid + '/',
                                type: 'GET',
                                data: 'nid',
                                dataType: 'JSON',
                                success: function (res) {
                                    if (res.status) {
                                        $(ths).parent().parent().remove();
                                    }
                                }
                            })

                        }
                    }
                </script>
            {% endblock %}
            </tbody>
        </table>

        <!-- 分页条 -->
        {% for obj in queryset %}
            {{ obj.xx }}
        {% endfor %}

        <ul class="pagination">
            {{ page_string }}
        </ul>

    </div>

{% endblock %}
